@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color-scheme: dark;
}

:root {
    /* Background */
    --bg-primary: #14131a;
    --card-primary: #1c1b23;

    /* Button */
    --btn-highlight: #2bd576;
    --btn-primary: #3a3942;
    --btn-secondary: #1c1b23;

    /* Text */
    --text-primary: #8b8a91;
    --text-secondary: #79787f;
    --text-info: #4f4f52;
    --text-highlight: #fff;
}

/* @media (prefers-color-scheme: dark) {
    :root {
    }
} */

body {
    color: var(--foreground-rgb);
    background: var(--bg-primary);
}

.progress-bar {
    width: 100%;
    height: 7px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 8px 8px;
}

.toggle-button:target + #toggle {
    display: flex;
}

.spinner {
    color: var(--text-highlight);
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 3px;
    overflow: visible;
}
.spinner > circle {
    fill: none;
    stroke: currentColor;
    cx: 50%;
    cy: 50%;
    r: 50%;
    stroke-width: 3px;
    stroke-linecap: round;
    transform-origin: center;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Define the scrollbar track (background) */
::-webkit-scrollbar-track {
    background: transparent; /* Background color of the track */
}

/* Define the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, 0.4); /* Background color of the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

/* Define the scrollbar thumb when hovered over */
::-webkit-scrollbar-thumb:hover {
    background: hsla(
        0,
        0%,
        0%,
        0.5
    ); /* Background color of the thumb when hovered */
}

/* Scale Of Single Tech Item In What I Know */
#singleTech
{
    transition: 0.2s ease-in-out;/* Transition For Smooth Effect*/
}
/* On Hover Tech Stack Item (i.e HTML, CSS, Tailwind)  Will Be Scale Up To 1.2  */
#singleTech:hover
{
    scale: 1.2;
}

/* Effect On Instagram Link On Cover */
#instagramCoverLink
{
    border: none;
    background-color: black;
    color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}
#instagramCoverLink::after
{
    position: absolute;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
    left: 0;
    background-color: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    width: 100%
}
#instagramCoverLink:hover::after{
    transform: translate(0, 0);
}
#instagramCoverLink:hover
{
    border: none;
    color: rgb(0, 0, 0);
    transform: scale(1.05);
    will-change: transform;
}

/*All Kind Card Will Scale To 1.05 On Hover*/
#card{
    transition: 0.3s ease-in-out;
}
#card:hover{
    scale: 1.05;
}

