@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Background */
    --bg-primary: #14131a;
    --card-primary: #1c1b23;

    /* Button */
    --btn-highlight: #2bd576;
    --btn-primary: #3a3942;
    --btn-secondary: #1c1b23;

    /* Text */
    --text-primary: #8b8a91;
    --text-secondary: #79787f;
    --text-info: #4f4f52;
    --text-highlight: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    color: var(--foreground-rgb);
    background: var(--bg-primary);
}
